{% extends 'home.html' %}

{% block titulo %}
PORTAL PEDIDOS REALIZADOS
{% endblock%}


{% block parrafo %}
    <nav class="navbar navbar-light bg-light static-top">
        <div class="container">
            <form action="/APesg/crear_pedido">
                
                <input type="submit" value="GENERAR PEDIDO" class="btn btn-success">
                
            </form>
        
            <form action="/APesg/buscar_pedido">
                
                <input type="submit" value="BUSCAR PEDIDO" class="btn btn-primary">
                
            </form>
        </div>
    </nav> 

{% endblock %}